<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <!-- Root Menu -->
    <menuitem id="First_root"
              name="First"
              web_icon="App_name,static/description/icon.png" />

    <!-- Parent Menus -->
    <menuitem id="First_parent"
              name="Employee"
              parent="First_root" />

    <menuitem id="sec_parent"
              name="Appointment"
              parent="First_root" />

    <menuitem id="Attendance"
              name="Attendance"
              parent="First_root" />

    <menuitem id="Configration"
              name="Configration"
              parent="First_root" />

    <!-- Submenus under First_parent -->
    <menuitem id="First_menu"
              name="First_menu"
              parent="First_parent"
              action="action_first_user" />

    <menuitem id="Record_menu"
              name="Record_menu"
              parent="First_parent"
              action="action_record_user" />

    <!-- Submenus under sec_parent -->
    <menuitem id="sec_menu"
              name="Appointment"
              parent="sec_parent"
              action="action_appointment" />

    <menuitem id="sec_menu_line"
              name="Appointment_line"
              parent="sec_parent"
              action="action_user_line" />

    <menuitem id="tag_menu"
              name="Tags"
              sequence="20"
              parent="Configration"
              action="action_user_tag" />

    <!-- Submenu under Attendance -->
    <menuitem id="check_in_out"
              name="Attendance"
              parent="Attendance"
              action="action_attendance" />

    <menuitem id="Tack_a_pic"
              name="Demo"
              parent="Attendance"
              action="action_img_module" />

    <menuitem id="demo"
              name="call by function"
              parent="Attendance"
              action="App_name.menu_python_fun_tata" />

    <menuitem id="setting_custom"
              name="settings"
              parent="Configration"
              action="App_name.action_first_config"
    />
</odoo>